@import url(./reset.css);
/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

header{
    display: flex;
    justify-content: center;
}

.img-header{
    width: 10rem;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    color: #333;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="date"], input[type="time"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }
}